In [3]:
%pip install seaborn --quiet

Note: you may need to restart the kernel to use updated packages.

In [28]:
import polars as pl
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt
from datetime import datetime,date,time

In [29]:
!ls *.csv

zsh:1: no matches found: *.csv

In [16]:
TRK_13139_FY2021 = pl.read_csv('TRK_13139_FY2021.csv', ignore_errors=True)
print(TRK_13139_FY2021)

shape: (269_424, 56)
┌────────┬──────────────┬──────────────┬──────────────┬───┬────────────┬──────┬──────┬─────────────┐
│ bcn    ┆ country_of_b ┆ country_of_n ┆ ben_date_of_ ┆ … ┆ NAICS_CODE ┆ S3Q1 ┆ S4Q1 ┆ T_U_VAWA_FL │
│ ---    ┆ irth         ┆ ationality   ┆ birth        ┆   ┆ ---        ┆ ---  ┆ ---  ┆ AG          │
│ str    ┆ ---          ┆ ---          ┆ ---          ┆   ┆ i64        ┆ str  ┆ str  ┆ ---         │
│        ┆ str          ┆ str          ┆ str          ┆   ┆            ┆      ┆      ┆ str         │
╞════════╪══════════════╪══════════════╪══════════════╪═══╪════════════╪══════╪══════╪═════════════╡
│ (b)(6) ┆ CHN          ┆ CHN          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ CAN          ┆ CAN          ┆ (b)(6)       ┆ … ┆ 336111     ┆ B    ┆ N    ┆ null        │
│ (b)(6) ┆ PAK          ┆ PAK          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ 541511     ┆ B    ┆ Y    ┆ null        │
│ …      ┆ …            ┆ …            ┆ …            ┆ … ┆ …          ┆ …    ┆ …    ┆ …           │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ 541330     ┆ B    ┆ Y    ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
└────────┴──────────────┴──────────────┴──────────────┴───┴────────────┴──────┴──────┴─────────────┘

In [18]:
TRK_13139_FY2022 = pl.read_csv('TRK_13139_FY2022.csv', ignore_errors=True)
print(TRK_13139_FY2022)

shape: (301_447, 56)
┌────────┬──────────────┬──────────────┬──────────────┬───┬────────────┬──────┬──────┬─────────────┐
│ bcn    ┆ country_of_b ┆ country_of_n ┆ ben_date_of_ ┆ … ┆ NAICS_CODE ┆ S3Q1 ┆ S4Q1 ┆ T_U_VAWA_FL │
│ ---    ┆ irth         ┆ ationality   ┆ birth        ┆   ┆ ---        ┆ ---  ┆ ---  ┆ AG          │
│ str    ┆ ---          ┆ ---          ┆ ---          ┆   ┆ i64        ┆ str  ┆ str  ┆ ---         │
│        ┆ str          ┆ str          ┆ str          ┆   ┆            ┆      ┆      ┆ str         │
╞════════╪══════════════╪══════════════╪══════════════╪═══╪════════════╪══════╪══════╪═════════════╡
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ …      ┆ …            ┆ …            ┆ …            ┆ … ┆ …          ┆ …    ┆ …    ┆ …           │
│ (b)(6) ┆ CHN          ┆ CHN          ┆ (b)(6)       ┆ … ┆ 713910     ┆ B    ┆ N    ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ 54151      ┆ B    ┆ N    ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
└────────┴──────────────┴──────────────┴──────────────┴───┴────────────┴──────┴──────┴─────────────┘

In [19]:
TRK_13139_FY2023 = pl.read_csv('TRK_13139_FY2023.csv', ignore_errors=True)
print(TRK_13139_FY2023)

shape: (474_421, 56)
┌────────┬──────────────┬──────────────┬──────────────┬───┬────────────┬──────┬──────┬─────────────┐
│ bcn    ┆ country_of_b ┆ country_of_n ┆ ben_date_of_ ┆ … ┆ NAICS_CODE ┆ S3Q1 ┆ S4Q1 ┆ T_U_VAWA_FL │
│ ---    ┆ irth         ┆ ationality   ┆ birth        ┆   ┆ ---        ┆ ---  ┆ ---  ┆ AG          │
│ str    ┆ ---          ┆ ---          ┆ ---          ┆   ┆ i64        ┆ str  ┆ str  ┆ ---         │
│        ┆ str          ┆ str          ┆ str          ┆   ┆            ┆      ┆      ┆ str         │
╞════════╪══════════════╪══════════════╪══════════════╪═══╪════════════╪══════╪══════╪═════════════╡
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ …      ┆ …            ┆ …            ┆ …            ┆ … ┆ …          ┆ …    ┆ …    ┆ …           │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ CHN          ┆ CHN          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
└────────┴──────────────┴──────────────┴──────────────┴───┴────────────┴──────┴──────┴─────────────┘

In [20]:
TRK_13139_FY2024_multi_reg = pl.read_csv('TRK_13139_FY2024_multi_reg.csv', ignore_errors=True)
print(TRK_13139_FY2024_multi_reg)

shape: (408_891, 56)
┌────────┬──────────────┬──────────────┬──────────────┬───┬────────────┬──────┬──────┬─────────────┐
│ bcn    ┆ country_of_b ┆ country_of_n ┆ ben_date_of_ ┆ … ┆ NAICS_CODE ┆ S3Q1 ┆ S4Q1 ┆ T_U_VAWA_FL │
│ ---    ┆ irth         ┆ ationality   ┆ birth        ┆   ┆ ---        ┆ ---  ┆ ---  ┆ AG          │
│ str    ┆ ---          ┆ ---          ┆ ---          ┆   ┆ i64        ┆ str  ┆ str  ┆ ---         │
│        ┆ str          ┆ str          ┆ str          ┆   ┆            ┆      ┆      ┆ str         │
╞════════╪══════════════╪══════════════╪══════════════╪═══╪════════════╪══════╪══════╪═════════════╡
│ (b)(6) ┆ IND          ┆ NOR          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ …      ┆ …            ┆ …            ┆ …            ┆ … ┆ …          ┆ …    ┆ …    ┆ …           │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
└────────┴──────────────┴──────────────┴──────────────┴───┴────────────┴──────┴──────┴─────────────┘

In [21]:
TRK_13139_FY2024_single_reg = pl.read_csv('TRK_13139_FY2024_single_reg.csv', ignore_errors=True)
print(TRK_13139_FY2024_single_reg)

shape: (350_103, 56)
┌────────┬──────────────┬──────────────┬──────────────┬───┬────────────┬──────┬──────┬─────────────┐
│ bcn    ┆ country_of_b ┆ country_of_n ┆ ben_date_of_ ┆ … ┆ NAICS_CODE ┆ S3Q1 ┆ S4Q1 ┆ T_U_VAWA_FL │
│ ---    ┆ irth         ┆ ationality   ┆ birth        ┆   ┆ ---        ┆ ---  ┆ ---  ┆ AG          │
│ str    ┆ ---          ┆ ---          ┆ ---          ┆   ┆ i64        ┆ str  ┆ str  ┆ ---         │
│        ┆ str          ┆ str          ┆ str          ┆   ┆            ┆      ┆      ┆ str         │
╞════════╪══════════════╪══════════════╪══════════════╪═══╪════════════╪══════╪══════╪═════════════╡
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ KOR          ┆ KOR          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ GHA          ┆ GHA          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ …      ┆ …            ┆ …            ┆ …            ┆ … ┆ …          ┆ …    ┆ …    ┆ …           │
│ (b)(6) ┆ CHN          ┆ CHN          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ GBR          ┆ IRL          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ CHN          ┆ CHN          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
│ (b)(6) ┆ IND          ┆ IND          ┆ (b)(6)       ┆ … ┆ null       ┆ null ┆ null ┆ null        │
└────────┴──────────────┴──────────────┴──────────────┴───┴────────────┴──────┴──────┴─────────────┘

In [27]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(TRK_13139_FY2024_single_reg_df):
    # Filter rows based on column: 'country_of_birth'
    TRK_13139_FY2024_single_reg_df = TRK_13139_FY2024_single_reg_df[TRK_13139_FY2024_single_reg_df['country_of_birth'].str.contains("KEN", regex=False, na=False, case=False)]
    # Filter rows based on column: 'JOB_TITLE'
    TRK_13139_FY2024_single_reg_df = TRK_13139_FY2024_single_reg_df[TRK_13139_FY2024_single_reg_df['JOB_TITLE'].notna()]
    return TRK_13139_FY2024_single_reg_df

# Loaded variable 'TRK_13139_FY2024_single_reg' from kernel state
TRK_13139_FY2024_single_reg_df = TRK_13139_FY2024_single_reg.to_pandas()

TRK_13139_FY2024_single_reg_df_clean = clean_data(TRK_13139_FY2024_single_reg_df.copy())
TRK_13139_FY2024_single_reg_df_clean

,bcn,country_of_birth,country_of_nationality,ben_date_of_birth,ben_year_of_birth,gender,employer_name,FEIN,mail_addr,city,...,S1Q1B,BEN_EDUCATION_CODE,ED_LEVEL_DEFINITION,BEN_PFIELD_OF_STUDY,BEN_COMP_PAID,DOT_CODE,NAICS_CODE,S3Q1,S4Q1,T_U_VAWA_FLAG
21,(b)(6),KEN,KEN,(b)(6),1984.0,male,Dell USA L.P.,742616802.0,One Dell Way,Round Rock,...,N,None,None,BUSINESS ADMINISTRATION,141000.00,50.0,42343.0,B,N,None
2053,(b)(6),KEN,KEN,(b)(6),1987.0,male,"Management Health Systems, LLC",582297524.0,1580 Sawgrass Corporate Pkwy,Sunrise,...,N,F,BACHELOR'S DEGREE,MEDICAL LABORATORY SCIENCE,NaN,78.0,561300.0,B,N,None
5832,(b)(6),KEN,KEN,(b)(6),1997.0,male,Adaptas Solutions LLC,43339914.0,9 Second St,Palmer,...,N,F,BACHELOR'S DEGREE,MECHANICAL ENGINEERING,80000.00,12.0,336419.0,B,N,None
10440,(b)(6),KEN,KEN,(b)(6),1997.0,male,BNP Paribas Securities Corp.,133235334.0,525 Washington Blvd.,Jersey City,...,N,F,BACHELOR'S DEGREE,ECONOMICS,100000.00,50.0,523110.0,B,N,None
10970,(b)(6),KEN,KEN,(b)(6),1996.0,male,"DNV Energy USA, Inc.",232625724.0,1400 Ravello Rd,Katy,...,N,F,BACHELOR'S DEGREE,ENGINEERING SCIENCES,95351.88,19.0,541690.0,B,N,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326932,(b)(6),KEN,KEN,(b)(6),1997.0,female,"State Attorney's Office, 15th Judicial Circuit",651150231.0,401 N Dixie Hwy,West Palm Bch,...,N,H,PROFESSIONAL DEGREE,LAW,61000.00,110.0,922110.0,B,N,None
332523,(b)(6),KEN,KEN,(b)(6),1980.0,female,Freedom Debt Relief LLC,300280712.0,1875 South Grant Street,San Mateo,...,N,F,BACHELOR'S DEGREE,BACHELOR OF TECHNOLOGY DAIRYING,100785.62,30.0,541990.0,B,N,None
336583,(b)(6),KEN,KEN,(b)(6),1981.0,male,World Conference of Religions For Peace Inc.,132671065.0,777 United Nations Plz Ste 9a,New York,...,N,F,BACHELOR'S DEGREE,PROJECT MANAGEMENT,80000.00,161.0,813319.0,B,N,None
344219,(b)(6),KEN,KEN,(b)(6),1996.0,female,"Oracle America, Inc.",942805249.0,2300 Oracle Way,Austin,...,N,F,BACHELOR'S DEGREE,OPERATIONS RESEARCH AND FINANCIAL ENGINEERING,132870.00,30.0,513210.0,B,N,None
344603,(b)(6),KEN,KEN,(b)(6),1993.0,male,IGT,880062109.0,6355 S Buffalo Dr,Las Vegas,...,N,None,None,COMPUTER SCIENCE AND ENGINEERING,96425.16,30.0,713290.0,B,N,None